#kaomojitab {
    text-align: center;
}

table#kaomojitab {
    color: black;
    border: 1px solid;
    background-color: ;
    border-spacing: 20px;
    border-collapse: separate;
    display: none;
}

a#kaomojibutton.button:hover {

}